body {
    margin: 0;
}

main {
    margin-bottom: 40px;
    padding: 10px;
}

header {
    margin-bottom: 30px;
    padding: 20px;
    background: lightgreen;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: lightgreen;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.dogs_descrip {
    font-size: 20px;
    padding-right: 400px;
    margin: 20px;
    text-align: justify;
}

.dogs_pic {
    width: 500px;
}

.error {
    color: rgb(199, 21, 21);
    padding: 10px;
    font-weight: 800;
}