{% extends "base.html" %}

{% block lab %} Лабораторная работа 2. Собаки {% endblock %}

{% block main %}
    <h1>5 пород средних собачек</h1>
    <ol>
        <li>
            <h2>Кавалер-кинг-чарльз-спаниель</h2>
            <div class="dogs_descrip">Кавалер кинг чарльз спаниель – это небольшая собака, ростом 30–33 см и весом 5–8 кг, со средним по длине телом и прямой спиной.
                Как и все спаниели, кинг чарльзы веселые и общительные собаки. Отличные компаньоны. Славятся своим хорошим отношением к детям.
                К другим животным относятся положительно, общительны и дружелюбны при контакте с посторонними людьми. Легко поддаются дрессировкам 
                и беспрекословно слушаются хозяина. Кинг чарльзы обладают довольно крепким здоровьем. Из наследственных заболеваний, которые иногда
                все же встречаются, стоит отметить неврологические.</div>
            <img class="dogs_pic" src="/static/dog1.jpg">
        </li>
        <li>
            <h2>Гриффон</h2>
            <div class="dogs_descrip">Гриффоны – маленькая декоративная порода собак. Высота в холке в среднем 28 см. Мелкие гриффоны – это собаки весом менее 3 кг
            и ростом около 24 см. Гриффоны – миниатюрные, крепкие, но изящные собаки. Имеют компактное телосложение и сухую конституцию, пропорциональны и грациозны. 
            У них легкие движения, они очень мобильны, поэтому свободно справляются с ловлей грызунов. Голова не очень большая, с широким и круглым лбом. 
            Отличительная особенность гриффонов – приплюснутая морда с удлиненной нижней челюстью (перекус), иногда торчащими наружу зубами, выпуклыми темными глазами и небольшими аккуратным ушами.
            риффоны уверенные и подвижные собаки. Они активны, любознательны и очень бдительны, могут быть хорошими сторожами. У них веселый нрав, пугливость им не свойственна.
            Они могут долго гулять, преданны владельцу, имеют уравновешенную нервную систему, благодаря этому гриффоны – отличные собаки-компаньоны.</div>
            <img class="dogs_pic" src="/static/dog2.jpg">
        </li>
        <li>
            <h2>Вельш-корги</h2>
            <div class="dogs_descrip">Корги-кардиган и пемброк – это мини овчарки. Рост кардигана – около 30 сантиметров. Вес этой породы достигает 10-15 килограммов. Пемброк меньше по размеру – около
            25 сантиметров в холке. Весит он 9-12 килограммов (самцы крупнее и мощнее самок). Характер корги очень дружелюбный, веселый. Это подвижные, активные собаки, готовые к длительным прогулкам и занятиям со своим хозяином.
            Они легко обучаются и не уступают по интеллекту другим, более крупным представителям овчарок. Корги социальны и с удовольствием общаются со всеми членами семьи и их друзьями. 
            При этом порода достаточно тактична, не занимает много пространства и может лежать у ног хозяина, пока тот не захочет поиграть. Интересно, что характеры кардигана и пемброка
            немного отличаются. Кардиган более рассудительный и спокойный, а пемброк – возбудимый и активный.</div>
            <img class="dogs_pic" src="/static/dog3.jpg">
        </li>
        <li>
            <h2>Цвергшнауцер</h2>
            <div class="dogs_descrip">Высота в холке от 30 до 38 см, для сук идеальный рост 33 см, для кобелей – 35,5 см. Вес тела 4–7 кг. Название «шнауцер» с немецкого переводится как «морда». 
            Карликовый шнауцер – это уменьшенный гигантский шнауцер, обладающий похожими рабочими качествами. Цвергшнауцер крепкая, компактная собака с пропорциональным телосложением. 
            У цвергшнауцеров некрупная, но яркая и выразительная голова. Морда удлиненная, квадратная у основания и сужающаяся к мочке носа, с сильными челюстями. Голова у цвергшнауцеров имеет
            неширокий череп и плоский лоб, развитые брови придают этой породе серьезный вид. Цвергшнауцеры имеют покладистый и уравновешенный характер. Эти собаки спокойны, непугливы и сообразительны.
            Они выносливы, способны выдержать большие физические нагрузки. Карликовые шнауцеры энергичны и активны, иногда импульсивны. Цвергшнауцер всегда готов двигаться и выполнять команды владельца.
            Они преданны владельцу и очень любят детей, предпочитают находиться в компании людей, а не собак. Цвергшнауцер легко обучается и хорошо поддается дрессировке, может быть служебной собакой, несмотря на размеры.</div>
            <img class="dogs_pic" src="/static/dog4.jpg">
        </li>
        <li>
            <h2>Шпиц</h2>
            <div class="dogs_descrip">Показатели роста и веса породы собак немецкий шпиц варьируются: рост гигантского шпица (кеесхонда или вольфшпица) составляет 55 см, а вес — около 20 кг. Рост карликовых шпицев не превышает
            22 см, вес — не более 3,5 кг. В жизни и на фото собака шпиц отличается пропорциональностью и относительно длинными конечностями. Голова небольшая, развитая лобная часть, остроугольные уши, мордочка неширокая, немного укороченная.
            Туловище, плечи, бедра и закинутый на спину хвост обильно покрыты шерстным покровом, представленным остевым волосом и подшерстком. Независимо от размера, шпиц ощущает себя большой собакой, поэтому часто имеет задиристый характер. 
            Шпицы активные, веселые и очень подвижные собаки, готовые к прогулкам и играм. Сильно привязываются к своему владельцу, плохо переносят разлуку. Недостаток шпицев маленького размера – частый высокий лай. Все шпицы хорошие охранники, 
            и если они не могут напугать своим весом, то в таком случае долго и пронзительно лают.</div>
            <img class="dogs_pic" src="/static/dog5.jpg">
        </li>
    </ol>
{% endblock %}